# Archivos de configuración con datos sensibles
config.env

# Entorno virtual
venv/

# Archivos de caché de Python
__pycache__/
*.py[cod]
*$py.class

# Distribución / empaquetado
dist/
build/
*.egg-info/

# Archivos de logs
*.log

# Archivos de entorno local
.env
.venv
env/

# Archivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Docker
.docker/
docker-data/
*.env.docker

# database
crypto_alerts.db